<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="profile-title">Perfil</ion-title>
        <ion-icon (click)="closeProfile()" class="cursor-pointer" color="danger" size="large" slot="end"
            name="close-outline">
        </ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row class="ion-justify-content-center">
            <ion-avatar class="avatar-class">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed"><b>Nome:</b></ion-label>
                    <ion-label>{{ name }}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="fixed"><b>E-mail:</b></ion-label>
                    <ion-label>{{ email }}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>