.profile-title {
    font-family: "Montserrat-ExtraBold";
    font-weight: normal normal bold;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0px;
    opacity: 1;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.avatar-class {
    height: 120px !important;
    width: 120px !important;
}